# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Large local analysis inputs
KMB csv time slot/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
